body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202a44;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
/* * {
  border: 2px solid red;
} */
#root {
  width: 100vw;
  background-color: #202a44;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.recharts-tooltip-label {
  color: black;
}
.mont {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
